@charset "UTF-8";

/*共通部分*/
html{
    font-size: 100%;
}
body{
    font-family: 'Source Sans Pro', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height:1.7;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:gray;
}
img{
    max-width: 100%;
}

/*ヘッダー*/
.home-button{
    font-size: 1rem;
    margin-top: 34px;
}

.main-nav{
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a{
    color: black;
}
.main-nav a:hover{
    color:gray;
}
.page-header {
    display: flex;
    justify-content: space-between;
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/*HOME*/
.home-content{
    text-align: center;
    margin-top: 16%;
}
.home-content p{
    font-size: 1.125rem;
    margin:10px 0 42px;
}

/*見出し*/
.page-title {
    font-size: 2rem;
    font-family: 'Source Sans Pro', serif;
    text-transform: uppercase;
    font-weight: normal;
}

/*大きな背景写真*/
.big-bg{
    background-size: cover;
    background-position: center top;
}
#home{
    background-image: url(../images/DSCF8165_2.jpg);
    min-height: 100vh;
}
#home .page-title{
    text-transform: none;
}

/*フッター*/
footer {
    background-color: #222;
    text-align: center;
    padding: 26px 0;
}
footer p{
    color: white;
    font-size: 0.875rem;
}


/*下からフェードインするアニメーション*/
/*animation propaty：速さ・時間・回数などのコントロール*/
.fade-in-bottom {
    opacity: 0;
    animation-name: fadein-bottom;
    animation-duration: 2s;               /*時間*/
    animation-timing-function: ease-out;    /*おわりゆっくり動かす*/
    animation-fill-mode: forwards;          /*おわった後はそのままキープ*/
    animation-delay: 1s;                    /*フェードインのタイミング指定*/
 }
 /*keyframes：色形大きさなどアニメーション本体の変化*/
 @keyframes fadein-bottom {
    0% {                                    /*開始時の状態*/
       opacity: 0;                          /*透明度指定*/
       transform: translateY(20px);         /*下に20pxずれた状態*/
    }
    100% {                                  /*終了時の状態*/
       opacity: 1;
       transform: translateY(0);
    }
 }

 /*横からフェードインするアニメーション*/
 .fade-in-left {
    opacity: 0;
    opacity: 0;
    animation-name: fadein-left;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;  
 }
 @keyframes fadein-left {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
 .fade-in-right {
    opacity: 0;
    opacity: 0;
    animation-name: fadein-right;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;  
 }
 @keyframes fadein-right {
    0% {
       opacity: 0;
       transform: translateX(20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }